<%= form_for([@parent, @object]) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this godown_item from being saved:</h2>

      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_data_type %><br />
    <%= f.text_field :product_data_type, :id => 'product_data_type' %>
  </div>
  <div class="field">
    <%= f.label :product_data_id %><br />
    <%= f.text_field :product_data_id, :id => 'product_data_id' %>
  </div>
  <%= link_to 'Select guitar', select_guitars_path, :remote => true %> |
  <%= link_to 'Select accessory', select_accessories_path, :remote => true %> 
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Select guitar', select_guitars_path, :remote => true %>
