<div class='bg-color-blueLight border-color-blue'>
<table>
  <thead>
  <tr>
    <th>产品</th>
    <th>价格</th>
    <th>数量</th>
    <th>状态</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% items.each do |godown_item| %>
  <tr>
    <td><%= godown_item.product_data.full_name if godown_item.product_data %></td>
    <td><%= godown_item.product_data.price if godown_item.product_data %></td>
    <td><%= godown_item.quantity %></td>
    <td><%= godown_item.status %></td>
    <td>
      <%= link_to 'Edit', edit_godown_item_path(godown_item) %>
      <%= link_to 'Destroy', godown_entry_godown_item_path(godown_item.godown_entry, godown_item), method: :delete, :confirm => '确认要删除吗？' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<br />


