<p id="notice"><%= notice %></p>

<p>
  <b>Godown entry:</b>
  <%= @object.godown_entry_id %>
</p>

<p>
  <b>Product data type:</b>
  <%= @object.product_data_type %>
</p>

<p>
  <b>Product data:</b>
  <%= @object.product_data_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @object.quantity %>
</p>

<p>
  <b>Status:</b>
  <%= @object.status %>
</p>


<%= link_to 'Edit', edit_godown_item_path(@object) %> |
<%= link_to 'Back', url_for(@object.godown_entry) %>
