<p id="notice"><%= notice %></p>

<p>
  <strong>Notes data type:</strong>
  <%= @note.notes_data_type %>
</p>

<p>
  <strong>Notes data:</strong>
  <%= @note.notes_data_id %>
</p>

<p>
  <strong>Notes text:</strong>
  <%= @note.notes_text %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @note.employee_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
