%h1 my account
- @object = current_employee
= form_for(@object, :url => { :action => "update_password" } ) do |f| 
  .form-group
    = f.label :password, "Password"
    %br
    = f.password_field :password, :autocomplete => "off"
  .form-group
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  .action_container
    = f.submit

