


= form_for(@object, html: {role: 'form'}) do |f|

  - if @object.errors.any?
    #error_explanation
      %h2
        = pluralize(@object.errors.count, "error")
        prohibited this issue from being saved:
      %ul
        - @object.errors.full_messages.each do |msg|
          %li= msg

  .container
    .row
      .col-sm-9
        .form-group
          = f.label :title
          %br
            = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :description
          %br
            = f.text_area :description, class: 'form-control'
        .field
          = f.label :due_date
          %br
            = f.datetime_select :due_date
        .field
          = f.label :employee_id
          %br
            = f.number_field :employee_id
        .field
          = f.label :status
          %br
            = f.number_field :status

      .col-sm-3
        .well
          %p Related employees
          %p Related companies

    .actions
      = f.submit
