= link_to 'New Issue', new_issue_path

= will_paginate @collection
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Due date
      %th Employee
      %th Status
      %th
  %tbody
    - @collection.each do |issue|
      %tr
        %td= issue.title
        %td= issue.description
        %td= issue.due_date
        %td= issue.employee_id
        %td= issue.status
        %td
          = link_to 'Show', issue
          = link_to 'Edit', edit_issue_path(issue)
          = link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @collection
