%p#notice= notice
%p
  %strong Title:
  = @object.title
%p
  %strong Description:
  = @object.description
%p
  %strong Due date:
  = @object.due_date
%p
  %strong Employee:
  = @object.employee_id
%p
  %strong Status:
  = @object.status
= link_to 'Edit', edit_issue_path(@object)
|
\#{link_to 'Back', issues_path}
