
%b Title:
%br
.well= @object.title

%b Description:
%br
.well= @object.description

%b Due date:
%br
.well= @object.due_date

- if @object.manufactory
  %b Related Factory:
  %br
  .well
    = link_to @object.manufactory.name, @object.manufactory

%b Related Employees:
%br
.well
  - @object.employees.each do |emp|
    = emp.nickname
    ,

%b Notes:
%br
- @object.notes.each do |n|
  .well
    n.notes_text
    %br
    By:
    = n.employee.nickname if n.employee
    At:
    %time{datetime: "#{n.created_at}" }= n.created_at.in_time_zone('Beijing')
= link_to 'Add notes', new_issue_note_path(@object)

= link_to 'List', issues_path

