%tr{id: "#{dom_id(p)}"}
  %td= p.id
  %td
    = p.full_name
    - if p.product_price
      %td= best_in_place p.product_price, :price, :type => :input
      %td= number_with_precision p.product_price.godown_price, precision: 2
      %td #{number_with_precision(p.product_price.godown_price * 100 / p.product_price.price, precision: 2)}%
      %td= p.product_price.godown_count
      %td= p.product_price.godown_amount
      %td= p.product_price.godown_fee
      %td= p.product_price.status
      %td
        .btn-group
          = link_to 'Show', p.product_price, :class => 'btn btn-mini'
          = link_to 'Edit', edit_product_price_path(p.product_price), :class => 'btn btn-mini'
    - else
      %td{:colspan => "7"}= link_to 'Add', add_price_product_price_path(p), :class => 'btn btn-mini', :remote => true

