<h1>Listing product_prices</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Godown count</th>
    <th>Godown amount</th>
    <th>Godown fee</th>
    <th>Godown price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_prices.each do |product_price| %>
  <tr>
    <td><%= product_price.product_id %></td>
    <td><%= product_price.price %></td>
    <td><%= product_price.godown_count %></td>
    <td><%= product_price.godown_amount %></td>
    <td><%= product_price.godown_fee %></td>
    <td><%= product_price.godown_price %></td>
    <td><%= product_price.status %></td>
    <td><%= link_to 'Show', product_price %></td>
    <td><%= link_to 'Edit', edit_product_price_path(product_price) %></td>
    <td><%= link_to 'Destroy', product_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product price', new_product_price_path %>
