<h1>Listing product_prices</h1>

<p class='bg-color-greenDark padding10 fg-color-white toolbox'>
<b>Products 产品列表</b> |
<% if @parent %>
  <%= link_to '添加', new_serial_product_guitar_path(@parent) %>
<% else %>
  <%= link_to '添加产品', new_product_path %>
<% end %>
|
<%= link_to 'All', products_path %>
|
<%= link_to 'Guitars', '?search[catalog_starts_with]=guitar' %>
|
<%= link_to 'Accessories', '?search[catalog_starts_with]=accessory' %>
|
<%= link_to 'Strings', '?search[catalog_starts_with]=accessory/string' %>
|
<%= link_to 'Bags', '?search[catalog_starts_with]=accessory/bag' %>

<div class="nav-bar">
  <div class="nav-bar-inner">
    <span class="element">产品价格列表</span>
    <span class="divider"></span>
    <ul class="menu">
      <li data-role="dropdown">
        <a href="#">产品类型</a>
        <ul class="dropdown-menu">
          <% @catalogs.each do |cat| %>
            <li><%= link_to "#{cat.catalog} (#{cat.count})", product_prices_path(:cat => cat.catalog) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>



</p>
<h2>产品类型: <%= params[:cat] %></h2>
<table>
  <tr>
    <th>ID</th>
    <th>Product</th>
    <th>Price</th>
    <th>Godown count</th>
    <th>Godown amount</th>
    <th>Godown fee</th>
    <th>Godown price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @collection.each do |p| 
    product_price = p.product_price
%>
<tr>
  <td><%= p.id %></td>
    <td>
      <%= p.full_name %>
    </td>
    <% if product_price %>
    <td><%= product_price.price %></td>
    <td><%= product_price.godown_count %></td>
    <td><%= product_price.godown_amount %></td>
    <td><%= product_price.godown_fee %></td>
    <td><%= product_price.godown_price %></td>
    <td><%= product_price.status %></td>
    <td><%= link_to 'Show', product_price %> |
      <%= link_to 'Edit', edit_product_price_path(product_price) %> 
    </td>
  <% else %>
    <td colspan='6'>add</td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product price', new_product_price_path %>
