<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_price.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @product_price.price %>
</p>

<p>
  <b>Godown count:</b>
  <%= @product_price.godown_count %>
</p>

<p>
  <b>Godown amount:</b>
  <%= @product_price.godown_amount %>
</p>

<p>
  <b>Godown fee:</b>
  <%= @product_price.godown_fee %>
</p>

<p>
  <b>Godown price:</b>
  <%= @product_price.godown_price %>
</p>

<p>
  <b>Status:</b>
  <%= @product_price.status %>
</p>


<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>
