<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @object.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @object.price %>
</p>

<p>
  <b>Godown count:</b>
  <%= @object.godown_count %>
</p>

<p>
  <b>Godown amount:</b>
  <%= @object.godown_amount %>
</p>

<p>
  <b>Godown fee:</b>
  <%= @object.godown_fee %>
</p>

<p>
  <b>Godown price:</b>
  <%= @object.godown_price %>
</p>

<p>
  <b>Status:</b>
  <%= @object.status %>
</p>


<%= link_to 'Edit', edit_product_price_path(@object) %> |
<%= link_to 'Back', product_prices_path %>
