<%= form_for(@object) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this sales_sheet from being saved:</h2>

      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :warehouse_id %><br />
    <%= f.text_field :warehouse_id %>
  </div>
  <div class="field">
    <%= f.label :operator_id %><br />
    <%= f.text_field :operator_id %>
  </div>
  <div class="field">
    <%= f.label :additional_fee %><br />
    <%= f.text_field :additional_fee %>
  </div>
  <div class="field">
    <%= f.label :actual_amount %><br />
    <%= f.text_field :actual_amount %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
