<div class='noprint'>
  <%= link_to '打印', '#', :onclick => 'window.print()' %>
</div>

<%= image_tag  'invoice_title.png', :size => '900x155'  %>
<div id='invoice_number'>
  Invoice# <b><%= "#{'%02d' % @object.created_at.month}#{'%03d' % @object.id}#{@object.created_at.year.to_s[2..4]}8" %></b><br />
  Date: <%= l @object.updated_at, :format => :long %>
</div>
<% if @object.customer %>
  <p class='info'>
   <span class='prompt'>Sold to(客戶): </span>
    <%= @object.customer.name %> <%= @object.customer.title %>
    <span class='prompt'>Tel(電話): </span> <%= @object.customer.mobile %> <%= @object.customer.phone %>
    <span class='prompt'>Email(電郵): </span> <%= @object.customer.email %>
   </p>
<% end %>
<table class='items'>
  <thead>
  <tr>
    <th>
      Product #<br />
      <span class='cn'>產品編號</span>
    </th>
    <th>
      Description<br />
      產品描述
    </th>
    <th>Quantity<br />
      <span class='cn'>數量</span>
    </th>
    <th>Unit Price<br />
      單價
    </th>
    <th>Line Total<br />
      金額
    </th>
  </tr>
</thead>
<tbody>


<% @object.sales_sheet_items.each do |sales_sheet_item| %>
  <tr>
    <td class='center'>
      <% if sales_sheet_item.serial_product %>
        <%= sales_sheet_item.serial_product.serial_number %>
      <% else %>
        <%= sales_sheet_item.product_data.short_code if sales_sheet_item.product_data %>
      <% end %>
    </td>
    <td><%= sales_sheet_item.description %></td>
    <td class='center'><%= sales_sheet_item.quantity %></td>
    <td class='right'><%= sales_sheet_item.price %></td>
    <td class='right'><%= sales_sheet_item.amount %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
  <tr>
    <td colspan='2' class='sum'>Total(合計):</td>
    <td class='center'><%= @object.total_items %></td>
    <td></td>
    <td class='right'><%= @object.total_amount %></td>
  </tr>
  <tr>
    <td colspan='4' class='sum'>+ Additional(其他費用):</td>
    <td class='right'><%= @object.additional_fee %></td>
  </tr>
  <tr>
    <td colspan='2' class='noborder'><%= " ** #{@object.info}" unless @object.info.blank? %></td>
    <td colspan='2' class='noborder sum'>- Invoice discount(特殊折扣):</td>
    <td class='right'>-<%= @object.discount %></td>
  </tr>
  <tr style='font-size:110%;line-height: 30px;'>
    <td colspan='4' class='sum'><b>Invoice Amount(合計金額):</b></td>
    <td class='right'><b><%= @object.actual_amount %></b></td>
  </tr>
</tfoot>
</table>

<p style='text-align:center'>
  ** THANK YOU! WE APPRECIATE YOUR BUSINESS **<br />
  多謝惠顧！
</p>

