<p id="notice"><%= notice %></p>

<p class='bg-color-greenDark padding10 fg-color-white toolbox'>
<%= link_to 'Edit', edit_sales_sheet_path(@object) %> |
<%= link_to 'Back', sales_sheets_path %> |
<%= link_to '新增项目', new_sales_sheet_sales_sheet_item_path(@object) %> |
<%= link_to '计算', calculate_sales_sheet_path(@object) %> |
<%= link_to '完成！', entering_sales_sheet_path(@object) %> |
<%= link_to '打印', print_sales_sheet_path(@object), :target => 'print_win' %>
</p>

<p>
  <b>Customer:</b>
  <% if @object.customer %> <%= @object.customer.title %>
    <%= @object.customer.name %>, Tel: <%= @object.customer.mobile %>,<%= @object.customer.phone %>
  <% else %>
    (no customer)
  <% end %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @object.warehouse.name if @object.warehouse %>
</p>

<%= render :partial => '/sales_sheet_items/items', :object => @object.sales_sheet_items %>

<p>
  <b>Status:</b> <%= @object.status %>
  <b>Operator:</b><%= @object.operator_id %>
  <b>Total items:</b><%= @object.total_items %>
  <b>Amount:</b><%= @object.total_amount %> + <%= @object.additional_fee %>(fee) - <%= @object.discount %>(discount) =
  <b><%= @object.actual_amount %></b>
</p>

<p>
  <b>Info:</b>
  <%= @object.info %>
</p>
<p>
</p>

