<p id="notice"><%= notice %></p>

<p class='bg-color-greenDark padding10 fg-color-white toolbox'>
  <%= link_to 'Edit', edit_sales_sheet_path(@object) %> |
  <%= link_to 'Back', sales_sheets_path %> |
  <%= link_to '完成！', entering_sales_sheet_path(@object), :confirm => "入账后销售单无法更改！\n确定入账吗？" %> |
  <%= link_to '打印', print_sales_sheet_path(@object), :target => 'print_win' %>
</p>

<p>
  <b>Customer:</b>
  <% if @object.customer %> <%= @object.customer.title %>
    <%= @object.customer.name %>, Tel: <%= @object.customer.mobile %>,<%= @object.customer.phone %>
  <% else %>
    (no customer)
  <% end %>
  <% if @object.customer %>
    <%= link_to '修改', edit_sales_sheet_customer_path(@object, @object.customer) %> |
    <%= link_to '查找', search_sales_sheet_customers_path(@object) + "?q=#{@object.customer.mobile}" %>
  <% else %>
    <%= link_to '查找', search_sales_sheet_customers_path(@object) %>
  <% end %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @object.warehouse.name if @object.warehouse %>
</p>

<%= link_to '新增项目', new_sales_sheet_sales_sheet_item_path(@object) %> 
<table class='striped bordered hovered'>
  <thead>
  <tr>
    <th>Serial</th>
    <th>Product#</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Amount</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @object.sales_sheet_items.each do |sales_sheet_item| %>
  <tr>
    <td><%= sales_sheet_item.serial_product.serial_number if sales_sheet_item.serial_product %> <%= sales_sheet_item.serial_number %></td>
    <td><%= sales_sheet_item.product_data_type %>-<%= sales_sheet_item.product_data_id %></td>
    <td><%= sales_sheet_item.description %></td>
    <td><%= sales_sheet_item.quantity %></td>
    <td><%= sales_sheet_item.price %></td>
    <td><%= sales_sheet_item.amount %></td>
    <td>
      <%= link_to 'Edit', edit_sales_sheet_sales_sheet_item_path(@object, sales_sheet_item) %> |
      <%= link_to 'Destroy', sales_sheet_sales_sheet_item_path(@object, sales_sheet_item), method: :delete, :confirm => 'Are you sure?'  %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to '计算', calculate_sales_sheet_path(@object) %> 

<p>
  <b>Status:</b> <%= @object.status %>
  <b>Operator:</b><%= @object.operator_id %>
  <b>Total items:</b><%= @object.total_items %>
  <b>Amount:</b><%= @object.total_amount %> + <%= @object.additional_fee %>(fee) - <%= @object.discount %>(discount) =
  <b><%= @object.actual_amount %></b>
</p>

<p>
  <b>Info:</b>
  <%= @object.info %>
</p>
<p>
</p>

