.btn-toolbar
  .btn-group
    = link_to 'Back', sales_sheets_path, :class => 'btn btn-default'
    - unless @object.status == 1
      = link_to 'Edit', edit_sales_sheet_path(@object), :class => 'btn btn-info'
      = link_to '完成！', entering_sales_sheet_path(@object), :confirm => "入账后销售单无法更改！\n确定入账吗？", :class => 'btn btn-danger'
    = link_to '打印', print_sales_sheet_path(@object), :target => 'print_win', :class => 'btn btn-success'
%p
%p
  %b Warehouse:
  = @object.warehouse.name if @object.warehouse

- unless @object.status == 1
  = form_tag(add_product_sales_sheet_path(@object), :remote => true, :class => 'form-inline', :role => 'form') do
    .form-group
      .label.sr-only Product 产品名称:
      = autocomplete_field_tag 'find_product', '', autocomplete_product_name_sales_sheets_path, :update_elements => {:id => '#product_id'}, :class => 'form-control', :placeholder => '产品名称快速查找', style: "width:300px;"
    .form-group
      .label.sr-only ID:
      = text_field_tag 'product_id', '', :class => 'form-control',  :readonly => true, :placeholder => '产品ID#', style: 'width: 80px'
    .form-group
      .label.sr-only Quantity 数量:
      = text_field_tag 'quantity', '1', :class => 'form-control', style: "width:80px"
    = submit_tag  'add product', :class => 'btn btn-info'

%p
= render partial: 'items', locals: {sales_sheet: @object} 

- unless @object.status == 1
  = form_for(@object, html: {class: 'form-horizontal', style: 'float:right;', role: 'form'}) do |f|
    .form-group
      %label Amount:
      = f.text_field :actual_amount, class: 'form-control'
    .form-group
      %label info: 
      = f.text_area :info, class: 'form-control'
    = f.submit 'Caculate 计算金额', class: 'btn btn-primary'

%p
  %b Info:
  = @object.info

%p
  %b Status:
  = @object.status
  %b Operator:
  = @object.operator_id
  %b Total items:
  = @object.total_items
  %br/
  .code
    = "#{@object.total_amount} + #{@object.additional_fee}(fee) - #{@object.discount}(discount) = "
    %b= @object.actual_amount
    (Total 实收金额
    = number_to_percentage @object.discount_rate * 100 if @object.discount_rate
    )

= render partial: 'customer_info', locals: { sales_sheet: @object }
.clear
