%h1 Listing sales_sheet_items
%table.border-color-blue
  %tr
    %th Sales sheet
    %th Product data type
    %th Product data
    %th Quantity
    %th Price
    %th Amount
    %th
    %th
    %th
  - @sales_sheet_items.each do |sales_sheet_item|
    %tr
      %td= sales_sheet_item.sales_sheet_id
      %td= sales_sheet_item.product_data_type
      %td= sales_sheet_item.product_data_id
      %td= sales_sheet_item.quantity
      %td= sales_sheet_item.price
      %td= sales_sheet_item.amount
      %td= link_to 'Show', sales_sheet_item
      %td= link_to 'Edit', edit_sales_sheet_item_path(sales_sheet_item)
      %td= link_to 'Destroy', sales_sheet_item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sales sheet item', new_sales_sheet_item_path
