<p id="notice"><%= notice %></p>

<p>
  <b>Sales sheet:</b>
  <%= @sales_sheet_item.sales_sheet_id %>
</p>

<p>
  <b>Product data type:</b>
  <%= @sales_sheet_item.product_data_type %>
</p>

<p>
  <b>Product data:</b>
  <%= @sales_sheet_item.product_data_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sales_sheet_item.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @sales_sheet_item.price %>
</p>

<p>
  <b>Amount:</b>
  <%= @sales_sheet_item.amount %>
</p>


