<p id="notice"><%= notice %></p>

<p>
  <b>Sales sheet:</b>
  <%= @object.sales_sheet_id %>
</p>

<p>
  <b>Product data type:</b>
  <%= @object.product_data_type %>
</p>

<p>
  <b>Product data:</b>
  <%= @object.product_data_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @object.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @object.price %>
</p>

<p>
  <b>Amount:</b>
  <%= @object.amount %>
</p>

<%= link_to '返回', url_for(@object.sales_sheet) %>
