<p id="notice"><%= notice %></p>

<p>
  <b>Stock taking:</b>
  <%= @object.stock_taking_id %>
</p>

<p>
  <b>Product data type:</b>
  <%= @object.product_data_type %>
</p>

<p>
  <b>Product data:</b>
  <%= @object.product_data_id %>
</p>

<p>
  <b>Full name:</b>
  <%= @object.full_name %>
</p>
<p>
  <b>Catalog:</b>
  <%= @object.catalog %>
</p>
<p>
  <b>Quantity:</b>
  <%= @object.quantity %>
</p>

<p>
  <b>Status:</b>
  <%= @object.status %>
</p>


<%= link_to 'Edit', edit_stock_taking_item_path(@object) %> |
<%= link_to 'Back', stock_taking_items_path %>
