<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_data_type %><br />
    <%= f.text_field :product_data_type %>
  </div>
  <div class="field">
    <%= f.label :product_data_id %><br />
    <%= f.number_field :product_data_id %>
  </div>
  <div class="field">
    <%= f.label :on_hand %><br />
    <%= f.number_field :on_hand %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="field">
    <%= f.label :title_photo_id %><br />
    <%= f.number_field :title_photo_id %>
  </div>
  <div class="field">
    <%= f.label :last_buy_date %><br />
    <%= f.date_select :last_buy_date %>
  </div>
  <div class="field">
    <%= f.label :sold_out_date %><br />
    <%= f.date_select :sold_out_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
