<%= form_tag do %>
  <div class='toolbar'>
  <div class='input-control text'>
    <%= text_field_tag :q, params[:q], :placeholder => '姓名/电话/Email' %>
    <button class='btn-search'></button>
  </div>
  <%= link_to 'Add', new_sales_sheet_customer_path(@parent) + "?q=#{params[:q]}", :class => 'button' %>
</div>
<% end %>

<table>
  <% @collection.each do |c| %>
    <tr id=<%= dom_id c %>>
      <td><%= c.name %> <%= c.title %></td>
      <td><%= c.mobile %> <%= c.phone %></td>
      <td><%= c.email %></td>
      <td><%= link_to 'Select', url_for([@parent, c]) + '/select' %></td>
    </tr>
  <% end %>
</table>



