<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @object.name %>
</p>

<p>
  <b>Title:</b>
  <%= @object.title %>
</p>

<p>
  <b>Mobile:</b>
  <%= @object.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @object.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @object.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @object.qq %>
</p>

<p>
  <b>Address:</b>
  <%= @object.address %>
</p>

<p>
  <b>Level:</b>
  <%= @object.level %>
</p>

<p>
  <b>Info:</b>
  <%= @object.info %>
</p>

<p>
  <b>Reason:</b>
  <%= @object.reason %>
</p>


<%= link_to 'Edit', edit_customer_path(@object) %> |
<%= link_to 'Back', customers_path %>
