<%= form_for(@serial_product) do |f| %>
  <% if @serial_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serial_product.errors.count, "error") %> prohibited this serial_product from being saved:</h2>

      <ul>
      <% @serial_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :product_model %><br />
    <%= f.text_field :product_model %>
  </div>
  <div class="field">
    <%= f.label :title_photo_id %><br />
    <%= f.number_field :title_photo_id %>
  </div>
  <div class="field">
    <%= f.label :production_batch_id %><br />
    <%= f.number_field :production_batch_id %>
  </div>
  <div class="field">
    <%= f.label :product_data_type %><br />
    <%= f.text_field :product_data_type %>
  </div>
  <div class="field">
    <%= f.label :product_data_id %><br />
    <%= f.number_field :product_data_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
