<p id="notice"><%= notice %></p>

<p>
  <b>Serial number:</b>
  <%= @serial_product.serial_number %>
</p>

<p>
  <b>Product name:</b>
  <%= @serial_product.product_name %>
</p>

<p>
  <b>Product model:</b>
  <%= @serial_product.product_model %>
</p>

<p>
  <b>Title photo:</b>
  <%= @serial_product.title_photo_id %>
</p>

<p>
  <b>Production batch:</b>
  <%= @serial_product.production_batch_id %>
</p>

<p>
  <b>Product data type:</b>
  <%= @serial_product.product_data_type %>
</p>

<p>
  <b>Product data:</b>
  <%= @serial_product.product_data_id %>
</p>


<%= link_to 'Edit', edit_serial_product_path(@serial_product) %> |
<%= link_to 'Back', serial_products_path %>
