<h1>Listing stock_journals</h1>

<table>
  <tr>
    <th>Stock</th>
    <th>Stock before</th>
    <th>Stock godown</th>
    <th>Stock after</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_journals.each do |stock_journal| %>
  <tr>
    <td><%= stock_journal.stock_id %></td>
    <td><%= stock_journal.stock_before %></td>
    <td><%= stock_journal.stock_godown %></td>
    <td><%= stock_journal.stock_after %></td>
    <td><%= link_to 'Show', stock_journal %></td>
    <td><%= link_to 'Edit', edit_stock_journal_path(stock_journal) %></td>
    <td><%= link_to 'Destroy', stock_journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock journal', new_stock_journal_path %>
