%h1 Listing stock_journals
%table
  %tr
    %th Stock
    %th Stock before
    %th Stock godown
    %th Stock after
    %th
    %th
    %th
  - @collection.each do |stock_journal|
    %tr
      %td= stock_journal.stock_id
      %td= stock_journal.stock_before
      %td= stock_journal.stock_change
      %td= stock_journal.stock_after
      %td= link_to 'Show', stock_journal
      %td= link_to 'Edit', edit_stock_journal_path(stock_journal)
      %td= link_to 'Destroy', stock_journal, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Back', url_for(@parent)
|
\#{link_to 'Warehouse', warehouse_stocks_path(@parent.warehouse)}
