<p id="notice"><%= notice %></p>

<p>
  <b>Stock:</b>
  <%= @stock_journal.stock_id %>
</p>

<p>
  <b>Stock before:</b>
  <%= @stock_journal.stock_before %>
</p>

<p>
  <b>Stock godown:</b>
  <%= @stock_journal.stock_godown %>
</p>

<p>
  <b>Stock after:</b>
  <%= @stock_journal.stock_after %>
</p>


<%= link_to 'Edit', edit_stock_journal_path(@stock_journal) %> |
<%= link_to 'Back', stock_journals_path %>
