<h1>Listing manufactories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Bank account</th>
    <th>Contact</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collection.each do |manufactory| %>
  <tr>
    <td><%= manufactory.name %></td>
    <td><%= manufactory.address %></td>
    <td><%= manufactory.website %></td>
    <td><%= manufactory.phone %></td>
    <td><%= manufactory.email %></td>
    <td><%= manufactory.bank_account %></td>
    <td><%= manufactory.contact %></td>
    <td><%= manufactory.rating %></td>
    <td><%= link_to 'Show', manufactory %></td>
    <td><%= link_to 'Edit', edit_manufactory_path(manufactory) %></td>
    <td><%= link_to 'Destroy', manufactory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufactory', new_manufactory_path %>

