.btn-group
  = link_to '新增厂家', new_manufactory_path, class: 'btn'
%p

= search_form_for @q do |f|
  = f.text_field :name_or_address_or_contact_cont, :placeholder => 'Search by name / contacts / address'
  = f.submit

= will_paginate @collection
%ul.name-cards
  - @collection.each do |m|
    %li.well
      .links 
        = link_to 'Show', m
        |
        = link_to 'Edit', edit_manufactory_path(m)
        |
        = link_to 'Del', m, method: :delete, data: { confirm: 'Are you sure?' }
      .title= m.name
      .name= m.contact
      .phone= m.phone
      .url= m.website
      .address= m.address
  .clear

= will_paginate @collection
