<%= link_to 'Edit', edit_manufactory_path(@object) %> |
<%= link_to 'Back', manufactories_path %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @object.name %>
</p>

<p>
  <b>Address:</b>
  <%= @object.address %>
</p>

<p>
  <b>Website:</b>
  <%= @object.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @object.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @object.email %>
</p>

<p>
  <b>Bank account:</b>
  <%= @object.bank_account %>
</p>

<p>
  <b>Rating:</b>
  <%= @object.rating %>
</p>
<p>
  <b>Contact:</b>
  <%= @object.contact %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Mobile</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Qq</th>
    <th>Address</th>
    <th>Level</th>
    <th>Info</th>
    <th>Reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @object.customers.each do |customer| %>

  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.title %></td>
    <td><%= customer.mobile %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
    <td><%= customer.qq %></td>
    <td><%= customer.address %></td>
    <td><%= customer.level %></td>
    <td><%= customer.info %></td>
    <td><%= customer.reason %></td>
    <td>
      <%= link_to 'Edit', edit_customer_path(customer) %> |
      <%= link_to 'Remove', remove_customer_manufactory_path(@object, :customer => customer.id), method: :delete, confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= form_tag(add_customer_manufactory_path(@object)) do %>
  Contact: <%= text_field_tag :customer,  '', :placeholder => 'Search by name and tel', :list => 'search_customer' %>
  <%= submit_tag %>
<% end %>

