%h1 Listing godown_entries
= link_to 'New Godown entry', new_godown_entry_path
= will_paginate @collection
%table
  %tr
    %th Godown date
    %th Manufactory
    %th From warehouse
    %th To warehouse
    %th Info
    %th Total items
    %th Operator
    %th Status
    %th
    %th
    %th
  - @collection.each do |godown_entry|
    %tr
      %td= godown_entry.godown_date
      %td= godown_entry.manufactory_id
      %td= godown_entry.from_warehouse_id
      %td= godown_entry.to_warehouse_id
      %td= godown_entry.info
      %td= godown_entry.total_quantity
      %td= godown_entry.operator
      %td= godown_entry.status
      %td= link_to 'Show', godown_entry
      %td= link_to 'Edit', edit_godown_entry_path(godown_entry)
      %td= link_to 'Destroy', godown_entry, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @collection
%br/
