= form_for(@object) do |f|
  - if @object.errors.any?
    #error_explanation
      %h2
        = pluralize(@object.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @object.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :brand
    %br/
    = f.text_field :brand
  .field
    = f.label :model
    %br/
    = f.text_field :model
  .field
    = f.label :full_name
    %br/
    = f.text_field :full_name
  .field
    = f.label :catalog
    %br/
    = f.text_field :catalog
  .field
    = f.label :status
    %br/
    = f.number_field :status
  .actions
    = f.submit
