<p class='bg-color-greenDark padding10 fg-color-white toolbox'>
<b>Products 产品列表</b> |
<% if @parent %>
  <%= link_to '添加', new_serial_product_guitar_path(@parent) %>
<% else %>
  <%= link_to '添加产品', new_product_path %>
<% end %>
|
<%= link_to 'All', products_path %>
|
<%= link_to 'Guitars', '?search[catalog_starts_with]=guitar' %>
|
<%= link_to 'Accessories', '?search[catalog_starts_with]=accessory' %>
|
<%= link_to 'Strings', '?search[catalog_starts_with]=accessory/string' %>
|
<%= link_to 'Bags', '?search[catalog_starts_with]=accessory/bag' %>
</p>
<%= will_paginate @collection %>
<table>
  <thead>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Full name</th>
    <th>Catalog</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @collection.each do |product| %>
  <tr>
    <td><%= product.brand %></td>
    <td><%= product.model %></td>
    <td><%= product.full_name %></td>
    <td><%= product.catalog %></td>
    <td><%= product.status %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @collection %>

