<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @object.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @object.model %>
</p>

<p>
  <b>Full name:</b>
  <%= @object.full_name %>
</p>

<p>
  <b>Catalog:</b>
  <%= @object.catalog %>
</p>

<% if @object.product_price 
   price = @object.product_price
%>
<p>
  <b>Price:</b>
  <%= price.price %>
</p>

<p>
  <b>Godown count:</b>
  <%= price.godown_count %>
</p>

<p>
  <b>Godown amount:</b>
  <%= price.godown_amount %>
</p>

<p>
  <b>Godown fee:</b>
  <%= price.godown_fee %>
</p>

<p>
  <b>Godown price:</b>
  <%= price.godown_price %>
</p>
<% end %>

<p>
  <b>Status:</b>
  <%= @object.status %>
</p>


<%= link_to 'Edit', edit_product_path(@object) %> |
<%= link_to 'Back', products_path %>
