<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @object.name %>
</p>

<p>
  <b>Pre code:</b>
  <%= @object.pre_code %>
</p>

<p>
  <b>Status:</b>
  <%= @object.status %>
</p>


<%= link_to 'Edit', edit_warehouse_path(@object) %> |
<%= link_to 'Back', warehouses_path %> |
<%= link_to '库存', warehouse_stocks_path(@object) %>
