<%
  	results = SalesSheetItem.select("product_id, sum(quantity) as quantity, sum(amount) as amount, sum(actual_amount) as actual_amount").group(:product_id)
  labels = results.map {|r| "\"#{r.product_id}# #{r.product.short_name}\""}.join(',')
  ams = results.map {|r| r.quantity}.join(',')
	aam = results.map {|r| r.actual_amount}.join(',')

%>

<div class='diagram-container'>
	<div id='diagram' class='diagram-placeholder'>
		<canvas id="myChart" width="840" height="400"></canvas>
	</div>
</div>

<table>
  <thead>
    <tr>
      <th>product</th>
      <th>quantity</th>
			<th>actual amount</th>
    </tr>
  </thead>
  <tbody>
    <% results.each do |r| %>
    <tr>
			<td><%= r.product_id %># <%= r.product.short_name %></td>
      <td class='num'><%= r.quantity %></td>
			<td class='num'><%= number_with_precision(r.actual_amount, :precision => 2) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<% content_for :head do %>
  <script src="/css/Chart.min.js"></script>
	<%= javascript_tag do %>
		var lbs = [<%=raw labels %>];
		var ams = [<%= ams %>];
		var aam = [<%= aam %>];
$(function(){
    var ctx = $("#myChart").get(0).getContext("2d");
var data = {
	labels : lbs,
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : aam
		},
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			pointColor : "rgba(151,187,205,1)",
			pointStrokeColor : "#fff",
			data : ams
		}
	]
  }

  var options = {};
	new Chart(ctx).Line(data, options);

});

<% end %>

<% end %>

