%h1 Listing accessories
= link_to 'New Accessory', new_accessory_path
= will_paginate @collection
%table
  %tr
    %th code
    %th Brand
    %th Name
    %th Catalog
    %th Info
    %th Price
    %th
    %th
    %th
  - @collection.each do |accessory|
    %tr
      %td= accessory.short_code
      %td= accessory.brand
      %td= accessory.name
      %td= accessory.catalog
      %td= accessory.info
      %td= accessory.price
      %td= link_to 'Show', accessory
      %td= link_to 'Edit', edit_accessory_path(accessory)
      %td= link_to 'Destroy', accessory, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @collection
%br/
