- result = Accessory.where(['short_code like ?', "%#{params[:q]}%"]).limit(100)
%table
  - result.each do |acc|
    <tr id=#{dom_id acc}>
    %td
      = acc.short_code
      %td= acc.brand
      %td= acc.name
      %td= acc.catalog
      %td= acc.price
      %td= acc.info
      %td= acc.title_photo_id
      %td= link_to 'Select', '#', :onclick => 'accessory_selected(this);'
