<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Gshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <%= stylesheet_link_tag '/css/bootstrap/css/bootstrap.min', '/css/bootstrap/css/bootstrap-responsive'%>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag '/css/bootstrap/js/bootstrap.min' %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <%= render 'shared/main_menu' %>

    <div class='container'>
      <div class='nav-bar'>
        <div class='nav-bar-inner padding10'>
          <span class='pull-menu'></span>
          <a href='/'>
          <span class='element brand'>
            <%= image_tag  'mw_logo_32.png', :class => 'place-left', :style => 'height:20px;' %>
            MW吉他-Management System
            <small>0.02.01</small>
          </span>
        </a>
          <div class='divider'></div>
          <ul class='menu'>
            <li>
              <a href='/'>首页</a>
            </li>
            <li data-role='dropdown'>
              <a href='#'>Functions</a>
              <ul class='dropdown-menu'>
                <li><a href="/serial_products">Serial Products</a></li>
                <li><a href="/guitars">Guitars</a></li>
                <li><a href="/photos">Photos</a></li>
                <li class='divider'></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <% if flash[:error] %>
    <div class='span5'>
      <div class="notices">
        <div class="bg-color-red">
          <a href="#" class="close"></a>
          <div class="notice-image"><span class='icon-cancel' style='font-size:32px;'></span></div>
          <div class="notice-header">ERROR</div>
          <div class="notice-text"><%= flash[:error] %></div>
        </div>
      </div>
    </div>
      <% end %>
    <div class="page">
      <%= yield %>
    </div>
<div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2012-2013, MW-Guitars © by <a class="fg-color-white" href="mailto:mwguitars@qq.com">Jimmy Liang</a>
                </span>
            </div>
        </div>
      </div>

    </div>
    
  </body>
</html>
