<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Gshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="/css/Metro-UI/css/modern.css" rel="stylesheet">
    <link href="/css/Metro-UI/css/modern-responsive.css" rel="stylesheet">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <script src="/css/Metro-UI/javascript/accordion.js"></script>
    <script src="/css/Metro-UI/javascript/buttonset.js"></script>
    <script src="/css/Metro-UI/javascript/calendar.js"></script>
    <script src="/css/Metro-UI/javascript/carousel.js"></script>
    <!-- <script src="/css/Metro-UI/javascript/contextmenu.js"></script> -->
    <script src="/css/Metro-UI/javascript/dialog.js"></script>
    <script src="/css/Metro-UI/javascript/dropdown.js"></script>
    <script src="/css/Metro-UI/javascript/input-control.js"></script>
    <script src="/css/Metro-UI/javascript/pagecontrol.js"></script>
    <script src="/css/Metro-UI/javascript/pagelist.js"></script>
    <script src="/css/Metro-UI/javascript/rating.js"></script>
    <script src="/css/Metro-UI/javascript/slider.js"></script>
    <script src="/css/Metro-UI/javascript/tile-drag.js"></script>
    <script src="/css/Metro-UI/javascript/tile-slider.js"></script>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class='metrouicss'>
    <div class='page'>
      <div class='nav-bar'>
        <div class='nav-bar-inner padding10'>
          <span class='pull-menu'></span>
          <a href='/'>
          <span class='element brand'>
            <%= image_tag  'mw_logo_32.png', :class => 'place-left', :style => 'height:20px;' %>
            MW吉他-Management System
            <small>0.02.01</small>
          </span>
        </a>
          <div class='divider'></div>
          <ul class='menu'>
            <li>
              <a href='/'>首页</a>
            </li>
            <li data-role='dropdown'>
              <a href='#'>Functions</a>
              <ul class='dropdown-menu'>
                <li><a href="/serial_products">Serial Products</a></li>
                <li><a href="/guitars">Guitars</a></li>
                <li><a href="/photos">Photos</a></li>
                <li class='divider'></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <% if flash[:error] %>
    <div class='span5'>
      <div class="notices">
        <div class="bg-color-red">
          <a href="#" class="close"></a>
          <div class="notice-image"><span class='icon-cancel' style='font-size:32px;'></span></div>
          <div class="notice-header">ERROR</div>
          <div class="notice-text"><%= flash[:error] %></div>
        </div>
      </div>
    </div>
      <% end %>
    <div class="page">
      <%= yield %>
    </div>
<div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2012-2013, MW-Guitars © by <a class="fg-color-white" href="mailto:mwguitars@qq.com">Jimmy Liang</a>
                </span>
            </div>
        </div>
      </div>

    </div>
    
  </body>
</html>
