!!!
%html{:lang => "en"}
  %head
    %title Gshop
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"}
    
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}

    = csrf_meta_tags
    = yield :head
  %body
    = render 'shared/main_menu'
    .container
      = bootstrap_flash 
      = yield
      = render 'shared/footer'

