<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Gshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <%= stylesheet_link_tag '/css/bootstrap/css/bootstrap.min', '/css/bootstrap/css/bootstrap-responsive'%>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag '/css/bootstrap/js/bootstrap.min' %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <%= render 'shared/main_menu' %>

    <div class='container'>
      <% if flash[:error] || flash[:notice] %>
        <div class='notices'>
          <% if flash[:error] %>
            <div class="notice-header">ERROR</div>
            <div class="notice-text"><%= flash[:error] %></div>
          <% end -%>
          <% if flash[:notice] %>
            <div class="notice-header">Notice</div>
            <div class="notice-text"><%= flash[:notice] %></div>
          <% end %>
        </div>
      <% end %>

      <div>
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
