<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Gshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Metro-UI/css/modern.css" rel="stylesheet">
    <link href="/css/Metro-UI/css/modern-responsive.css" rel="stylesheet">

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <script src="/css/Metro-UI/javascript/accordion.js"></script>
    <script src="/css/Metro-UI/javascript/buttonset.js"></script>
    <script src="/css/Metro-UI/javascript/calendar.js"></script>
    <script src="/css/Metro-UI/javascript/carousel.js"></script>
    <!-- <script src="/css/Metro-UI/javascript/contextmenu.js"></script> -->
    <script src="/css/Metro-UI/javascript/dialog.js"></script>
    <script src="/css/Metro-UI/javascript/dropdown.js"></script>
    <script src="/css/Metro-UI/javascript/input-control.js"></script>
    <script src="/css/Metro-UI/javascript/pagecontrol.js"></script>
    <script src="/css/Metro-UI/javascript/pagelist.js"></script>
    <script src="/css/Metro-UI/javascript/rating.js"></script>
    <script src="/css/Metro-UI/javascript/slider.js"></script>
    <script src="/css/Metro-UI/javascript/start-menu.js"></script>
    <script src="/css/Metro-UI/javascript/tile-drag.js"></script>
    <script src="/css/Metro-UI/javascript/tile-slider.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body class='metrouicss'>

    <div class='page'>
      <div class='nav-bar'>
        <div class='nav-bar-inner'>
          <span class='pull-menu'></span>
          <span class='element'>
            <%= image_tag  'mw_logo_32.png', :class => 'place-left', :style => 'height:20px;' %>
            MW吉他-管理系统
            <small>0.01.1.01</small>
          </span>
          <div class='divider'></div>
          <ul class='menu'>
            <li>
              <a href='/'>首页</a>
            </li>
            <li data-role='dropdown'>
              <a href='#'>Functions</a>
              <ul class='dropdown-menu'>
                <li><a href="/serial_products">Serial Products</a></li>
                <li><a href="/guitars">Guitars</a></li>
                <li><a href="/photos">Photos</a></li>
                <li class='divider'></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="page-region">
        <div class="page-region-content">
          <div class='grid'>
            <div class='row'>
              <%= form_tag(quick_gos_path) do %>
                <div class='span4'>
                  <div class='input-control text'>
                    <%= text_field_tag :serial_number, '', :placeholder => '产品编号' %>
                    <button class='btn-search'></button>
                  </div>
                </div>
                <div class='span4'>
                  <div class='input-control text'>
                    <%= text_field_tag :search_text, '', :placeholder => '搜索' %>
                    <button class='btn-search'></button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% if flash[:error] %>
    <div class='span5'>
      <div class="notices">
        <div class="bg-color-red">
          <a href="#" class="close"></a>
          <div class="notice-image"><span class='icon-cancel' style='font-size:32px;'></span></div>
          <div class="notice-header">ERROR</div>
          <div class="notice-text"><%= flash[:error] %></div>
        </div>
      </div>
    </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
